

/ {
    chosen {
      //zephyr,settings-partition = &storage_partition;
    };

};

/delete-node/ &lfxo;

&grtc {
      /delete-property/ clocks;
      /delete-property/ clock-names;
      clocks = <&pclk>;
      clock-names = "hfclock";

      owned-channels = <0 1 2 3 4 5 6 7 8 9 10 11>;
	/* Channels 7-11 reserved for Zero Latency IRQs, 3-4 for FLPR */
	child-owned-channels = <3 4 7 8 9 10 11>;
	status = "okay";
};

&pinctrl {
  spi21_default: spi21_default {
    group1 {
      psels = <NRF_PSEL(SPIM_SCK, 1, 8)>,
        <NRF_PSEL(SPIM_MOSI, 1, 9)>,
        <NRF_PSEL(SPIM_MISO, 1, 13)>;
    };
  };

  spi21_sleep: spi21_sleep {
    group1 {
      psels = <NRF_PSEL(SPIM_SCK, 1, 8)>,
        <NRF_PSEL(SPIM_MOSI, 1, 9)>,
        <NRF_PSEL(SPIM_MISO, 1, 13)>;
        low-power-enable;
    };
  };
};

&spi21 {
	clock-frequency = <DT_FREQ_M(1)>;
	status = "okay";
  cs-gpios = <&gpio1 11 GPIO_ACTIVE_LOW>;
  pinctrl-0 = <&spi21_default>;
	pinctrl-1 = <&spi21_sleep>;
	pinctrl-names = "default", "sleep";

  eink: generic_epaper@0 {
            reg = <0x0>;
            spi-max-frequency = <DT_FREQ_M(1)>;
            status = "okay";
            compatible = "ar,generic-epaper";

            reset-gpios = <&gpio1 14 GPIO_ACTIVE_LOW>;
            dc-gpios = <&gpio1 10 GPIO_ACTIVE_HIGH>;
            busy-gpios = <&gpio1 12 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
      };
};